app-field-date {
    input {
        box-sizing: border-box;
        width: 200px !important;
        height: 36px;
        padding: 5px 8px;
        border-radius: 3px;
        border: solid 1px #d9dbe3;
        background-color: #ffffff;
        margin-bottom: 10px;
    }

}