<div class="course-page-container">
  <div class="row">
    <div class="col-12 search-field">
      <form class="d-inline-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          [(ngModel)]="searchText"
          name="searchText"
        />
        <button class="btn btn-success" (click)="searchAction()" type="button">
          Search
        </button>
      </form>
    </div>
    <div class="col-12 add-course-button d-flex justify-content-end">
      <button class="btn btn-primary" (click)="addNewCourse()">+ Add Course</button>
    </div>
  </div>
  <div class="course-list-content">
    <div>
      <app-course-item
        *ngFor="let course of paginatedCourses"
        [course]="course"
        (courseId)="deleteCourseById($event)"
        (editCourseId)="onEditCourse($event)"
      ></app-course-item>
    </div>
    <div *ngIf="isDataEmpty" class="no-data-wrapper">
      <span> NO DATA. FEEL FREE TO ADD NEW COURSE </span>
    </div>
    <div class="text-center load-more-button col-12">
      <p (click)="loadMore()">LOAD MORE</p>
    </div>
  </div>
</div>
