<div class="course-page-container">
  <div class="row">
    <div class="col-12 search-field">
      <app-search-course
        (courseSearch)="onCourseSearch($event)"
      ></app-search-course>
    </div>
    <div class="col-12 add-course-button d-flex justify-content-end">
      <button class="btn btn-primary" (click)="addNewCourse()">
        + Add Course
      </button>
    </div>
  </div>
  <div class="course-list-content">
    <div>
      <app-course-item
        *ngFor="
          let course of courses$ | async | courseOrderBy;
          trackBy: trackCourses
        "
        [course]="course"
        (courseId)="deleteCourseById($event)"
        (editCourseId)="onEditCourse($event)"
      ></app-course-item>
    </div>
    <div *ngIf="isDataEmpty$ | async" class="no-data-wrapper">
      <span> NO DATA. FEEL FREE TO ADD NEW COURSE </span>
    </div>
    <div class="text-center load-more-button col-12">
      <p (click)="loadMore()">LOAD MORE</p>
    </div>
  </div>
</div>
