app-logo {
    .logo-container{
        margin-left: 5vw;
        img {
            height: 23px;
            vertical-align: text-bottom;
        }
        .logo-title {
            font-style: bold;
            font-size: 20px;
            font-weight: 600;
        }
    }
}